
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    // background-color: hsl(210, 46%, 95%);
  }
  .d-f {
    display: flex;
  }
  .jc-c {
    justify-content: center;
  }
  .jc-sb {
    justify-content: space-between;
  }
  .ai-c {
    align-items: center;
  }
  .min-h-100 {
    min-height: 100vh;
  }
  .b {
    border: 2px solid red;
  }